body{
background-color:CFA4E5;	
}
h1{
font-size:55px;	
}
p{
font-size:45px;	
}
hr{
height:10px;
width:80%;
background-color:white;	
}
div{
background-color:white;
height:160px;
width:100%;	
}
h2{
font-size:80px;	
}